body {
  font-family: "Josefin Sans";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans";
}

.top-bar .title-area .name h1 {
  font-family: "Futura";
  font-size: 140%;
}

.logo {
  font-family: "Futura";
}

.text-centered {
  text-align: center;
}

.main-video {
  margin-bottom: 0rem;
}

.top-bar {
  background-color: #cdbc9a;
}

.expanded .title-area li{
  background-color: #cdbc9a;
}

.button {
  font-family: "Josefin Sans";
  padding-left:1.5rem;
  padding-right:1.5rem;
  background-color: #958a77;
}

.button:hover {
  background-color: #817867;
}

.top-bar-section .right li, form{
  background-color: #cdbc9a;
}

.about-section h2 {
  font-size: 250%;
}

.about-section p {
  font-size: 140%;
}

.detail-section {
  padding-bottom: 2rem;
}

.detail-section p {
  font-size: 125%;
}

.detail-section img {
  padding-top: 2.5rem;
}

.who-do-you {
  background-color: #cdbc9a;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.who-do-you h3 {
  color: white;
}

.footer {
  background-color: #aca089;
  padding-top: 1.5rem;
}

.footer p, a {
  color: white;
}


/* Helper Classes */

.fullwidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.valign-middle {
    display: table;
}

.valign-middle .columns {
    display: table-cell;
    vertical-align: middle;
}

.valign-middle .columns,
.valign-middle [class*="column"] + [class*="column"]:last-child {
    float: none;
}

@media only screen and (min-width: 40.0625em) {
  nav.top-bar {
    text-align:center;
    background-color: #cdbc9a;
  }

  section.top-bar-section {
    display: inline-block;
  }
}